*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
/keystore.properties
/app/src/main/java/com/dscvit/vitty/util/WebConstants.kt
/.idea/material_theme_project_new.xml
/.idea/detekt.xml
app/src/google-services.json
